.cover__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(42, 44, 47, .2);
    text-decoration: none;
  }
  
  .cover__link:hover {
    background-color:rgba(42, 44, 47, .7);
  }