.footer__list-items {
    margin-left: 18px;
  }
  .footer__list-items:nth-child(1) {
    margin-left: 0;
  }
  
  @media (max-width: 470px) {
    .footer__list-items {
      padding-top: 32px;
      margin-left: 0;
    }
  
    .footer__list-items:nth-child(1) {
      padding-top: 0;
    }
  }